<h1>Projects（トップページ）</h1>
<ul>
  <% @projects.each do |project| %>
  <li>
    <%= link_to "プロジェクト「#{project.title}」", project_path(project.id) %>
     (<%= project.tasks.unfinished.count %>/<%= project.tasks.count %>)
    <%= link_to "[編集する]", edit_project_path(project.id) %>
    <%= link_to "[削除する]", project_path(project.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "新規プロジェクトを作成する", new_project_path %>
</p>