<!-- ユーザーが任意で作成したプロジェクト名（@project.title）がそのまま表示される -->
<h1><%= @project.title %></h1>

<ul>
  <% @project.tasks.each do |task| %>
    <li>
      <%= check_box_tag '', '', task.done, {'data-id' => task.id, 'data-project_id' => task.project_id } %>
      <%= task.title %>
      <%= link_to "[削除する]", project_task_path(task.project.id, task.id), 
                                  method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% if task.image? %>
        <!-- 画像あるなら、画像表示。サイズは50x50 -->
　　    <%= image_tag task.image.thumb.url, size: "50x50" %>
　    <% else %>
　　    <%= "" %>
　    <% end %>
    </li>
  <% end %>
  <li>
    <%= form_for [@project, @project.tasks.build] do |f| %>
      <%= f.text_field :title %>
      <%= f.submit "タスク作成" %>
      <%#= f.label :image %>
  　　<%= f.file_field :image %>
    <% end %>
  </li>
</ul>

<script>
  $(function() {
    $("input[type=checkbox]").click(function() {
      $.post('/projects/'+$(this).data('project_id')+'/tasks/'+$(this).data('id')+'/toggle');
    });
  });
</script>